<!DOCTYPE html>
{% load static from staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/reset.css'%}">
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/base.css'%}">


    <script src="{% static 'main/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'main/js/base.js' %}"></script>
    <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'main/js/swiper.min.js' %}"></script>
    <link rel="icon" href="{% static 'main/icon/picture.ico' %}" type="image/x-icon"/>
    {% block linkscript %}
    {% endblock %}
</head>
<body>
<div>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/index/">首页 <span class="sr-only"></span></a></li>
                    <li><a href="" target="_blank">VT</a></li>
                    <li><a href="/search_result">测试</a></li>
                    <li><a href="" target="_blank">TheatBook</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">

                    <li><a href="#">登录</a></li>
                    <li><a href="#">注册</a></li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    {% block base %}
    {% endblock %}
</div>
</body>
</html>